@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #ffd700;
	background-image: radial-gradient(farthest-side, transparent 0, #001f3f 2px);
	background-size: 40px 40px;
	background-position: -19px -19px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #116ca5; /* !important; bar color */
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background: #facc15; /* track color */
}
