@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background:
		radial-gradient(
			circle at top left,
			rgba(17, 108, 165, 0.45),
			transparent 32%
		),
		linear-gradient(135deg, #001c32 0%, #0b4472 45%, #02010a 100%);
	background-attachment: fixed;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #116ca5; /* !important; bar color */
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background: #facc15; /* track color */
}
